@import url(swiper-pagination.css);
@import url(swiper-slide.css);

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

@media screen and (min-width: 1024px) {
  .swiper {
    margin: 0 8em;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    top: 60%;
    margin: 0 -10px;
    border: 2px solid var(--azul-degrade);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: var(--branco);
    background: var(--azul-degrade);

    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 10px;
  }

}

@media screen and (min-width: 1728px) {
  .swiper {
    margin: 0 5em;
  }

}