.swiper-pagination {
  position: initial;
}

@media screen and (min-width: 1024px) {
  .swiper-pagination {
    margin: 2em 0 3em 0;
  }
}

@media screen and (min-width: 1728px) {
  .swiper-pagination {
    margin: 0 0 2.4em 0;
  }
}