@import url(novidade-titulo.css);
@import url(novidade-texto.css);
@import url(novidade-email.css);

.novidade {
  background-color: var(--branco);
  padding: 1.5em;
}

.novidade__titulo,
.novidade__texto,
.novidade__email {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (min-width:1024px) {
  .novidade {
    display: flex;
    padding: 1.5em 8em;
    align-items: center
  }

  .novidade div {
    padding: 0 7em;
  }

}

@media screen and (min-width:1728px) {
  .novidade {
    padding: 7em;
    justify-content: center;
  }
}